<%= random_snapshot -%>

<h3>Love to get dirty? Plant with us!</h3>

<p>Enter your e-mail address below and we'll drop you a line before our next planting! </p>

<%= render :partial => "constant_contact" -%>

<p class="spaced">
  People interested in learning more about fruit growing should also consider joining the <%= link_to 'Philadelphia Orchard Group (PHOG) listserv', 'http://groups.google.com/group/phog' %>.
</p>
