<%= random_snapshot -%>

<h1>Frequently Asked Questions</h1>

<h3>Why plant orchards? Why not other crops?  
</h3>
<ul>
<li> Fruit and herbs from orchards complement annual crops already grown in Philadelphia’s more than 250 active community vegetable gardens. </li>
<li> Trees, berries, and herbs do require watering, weeding, and pruning; but they are less resource and labor intensive than most other crops. 
 </li>
<li> Orchards help establish agriculture as a permanent part of the city’s environment, economy, and culture. </li>
<li> Trees shade the city, reducing air conditioning costs and improving air quality. 
</li>
<li> Fruit and nut trees sequester more carbon emissions than the softwood trees typically planted for carbon offsets. </li>
</ul>

<h3>What about pests (rats, etc.)?  </h3>

<p>POP helps its partners to transform neglected urban spaces into well-maintained, beautiful landscapes.  Uncared for, vacant lots are home to vermin. Planting and mulching orchards, and keeping them weeded, typically flushes out these unwanted critters. When orchard fruit is properly harvested, it poses no risk of attracting rodents.
</p>
<p>
The risk of destruction by insect pests is greatly reduced by the biodiversity of our eco-orchards. vacant lots are home to vermin. planting and mulching orchards, and keeping them weeded, typically flushes out these unwanted critters. pop plants chives and other herbs that help deter pests. preventative measures, such as installing bat or barn owl boxes may also be taken. 
</p>

<h3>Will this mean pesticide in my neighborhood?  </h3>
<p>No, POP does not recommend spraying orchards with toxic pesticides. POP advises its partners on the use of natural, organic methods for controlling orchard pests and diseases.  The <%= link_to 'Penn State Agricultural Extension', 'http://philadelphia.extension.psu.edu/' -%> provides expertise on Integrated Pest Management and can also recommend other organic methods for pest control, including safe, organic sprays.
</p>

<h3>Who does the fruit belong to?  
</h3>
<p>
Each community partner organization determines how they want to distribute fruit, which they describe in their <%= link_to 'application for a POP orchard', 'http://www.phillyorchards.org/orchards/develop' %>. POP requires that the harvest (or proceeds from its sale) go to benefit low-wealth communities. This usually means the food goes directly to people who lack regular access to fresh fruit. Some neighborhoods invite free public harvests. Others donate to food banks and hungry neighbors. Some orchards are maintained as community-based farms, where the fruit is sold to support community programs. See the <%= link_to 'POP Orchards list', 'http://www.phillyorchards.org/orchards' %> for all the ways the harvest is distributed. 
</p>

<h3>How will you protect it from theft?  </h3>
<p>The majority of POP orchards are fenced as a measure to protect the young trees from vandalism. POP’s founder, Paul Glover, promoted a vision of communities sharing food, writing, "Community gardeners already rely on neighborhood respect and restraint, but free harvest would not be punished. The hungry should eat." </p>
