<%= random_snapshot -%>

<h3>About POP</h3>

<p>The Philadelphia Orchard Project’s mission is to plant orchards in the city of Philadelphia that grow healthy food, green spaces and community food security.
</p>

<p>Founded in 2007 by economic development pioneer Paul Glover, POP is part of a growing movement across the world to develop more sustainable, equitable, and ethical local food systems. Philadelphia is one of the centers of this work, with some 40,000 vacant lots and the highest poverty rate among big cities in America. As the cost of energy, food, and health care rises, the low-wealth neighborhoods where POP plants are the most vulnerable to hunger and related health problems. Orchards and community vegetable gardens offer neighborhoods the most direct access to healthy food, and build people’s capacity to feed their families and neighbors. 
</p>

<p>Orchards benefit communities in many ways:
<ul>
<li>Orchards provide fresh, wholesome foods that improve nutrition and health. </li>
<li>Orchards benefit the environment by reducing urban heat, absorbing carbon emissions, filtering water, cleaning the air, absorbing noise, and reducing storm water runoff.</li>
<li>Orchards help reclaim and beautify vacant lots throughout our city, helping make neighborhoods safer, cleaner, and more livable. </li>
<li>Orchards teach valuable and marketable skills such as planting, tending, composting, and food processing.</li>
<li>Orchards increase the city’s overall food security and reduce our reliance on increasingly expensive imported produce</li>
</ul>
</p>

<p>Read Paul Glover's <%= link_to '"founding manifesto"', :action => :manifesto -%> – a broad vision for transforming Philadelphia into the world’s “next great orchard.” 
</p>


<%= render :partial => "shared/pop_in_news" -%>