<%= random_snapshot -%>

<h3>About POP</h3>

<p><i>
    Imagine a Philadelphia where every community regardless of location or wealth has access to fresh, healthy fruit grown right in the neighborhood. . .
</i></p>

<p>
  The Philadelphia Orchard Project plants and supports community orchards in the city of Philadelphia. Since 2007, POP has worked with community-based groups and volunteers to plan and plant orchards filled with useful and edible plants in neighborhoods across the city. POP provides orchard design assistance, plant materials, and training in orchard care. Community organizations own, maintain, and harvest the orchards, expanding community-based food production. Orchards are planted in formerly vacant lots, community gardens, schoolyards, and other urban spaces, almost exclusively in low-wealth neighborhoods where people lack access to fresh fruit.
</p>

<p>
  <iframe width="420" height="315"
          src="http://video.pbs.org/viralplayer/2365511480"
          frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
          seamless></iframe>
</p>


<h3>POP CORE VALUES</h3>


<p>
  <i>Education/Learning</i>
  <br/>
  POP builds a knowledge-base and culture of orcharding and fruit-growing that connects diverse communities in Philadelphia.
</p>

<p>
  <i>Justice</i>
  <br/>
  POP is positioned at the intersection of Philadelphia’s burgeoning food and environmental justice movements, particularly in our focus on serving low-wealth communities.
</p>

<p>
  <i>Permanence</i>
  <br/>
  POP plants orchards with partners who share our long-term commitment to communities to create and care for an environmental infrastructure that will endure.
</p>

<p>
  <i>Regeneration</i>
  <br/>
  Moving beyond sustainability, POP seeks to regenerate the health of communities, the fertility of the land, and the overall environmental balance throughout Philadelphia. 
</p>

<p>
  <i>Beauty</i>
  <br/>
  Orchards bring beauty as well as bounty to urban spaces. Orchards embody fundamental cultural yearnings to repair the earth, and with it, its people.	
</p>



<h3>HISTORY</h3>

<p>Founded in 2007 by economic development pioneer Paul Glover, POP is part of a growing movement across the world to develop more sustainable, equitable, and ethical local food systems. Philadelphia is one of the centers of this work, with some 40,000 vacant lots and the highest poverty rate among big cities in America. As the cost of energy, food, and health care rises, the low-wealth neighborhoods where POP plants are the most vulnerable to hunger and related health problems. Orchards and community vegetable gardens offer neighborhoods the most direct access to healthy food, and build people’s capacity to feed their families and neighbors.</p>

<ul>
  <li>2007: POP founded; planted 2 new community orchards</li>
  <li>2008: POP hired Phil Forsyth as part time Orchard Director; planted 7 new community orchards </li>
  <li>2009: POP planted 5 new community orchards; organized first seasonal harvest festival</li>
  <li>2010: POP received 501 c3 status; planted 4 new community orchards</li>
  <li>2011: POP planted 7 new community orchards; organized first city wide Philadelphia Orchard Day</li>
  <li>2012: POP promoted Phil Forsyth to Executive Director; planted 4 new community orchards</li>
  <li>2013: POP planted 5 new community orchards; organized first annual plant sale & tree giveaway</li>
  <li>2014: POP hired Robyn Mello as Education & Outreach Director; planted 3 new community orchards</li>
</ul>

<h3>CONTACT INFO</h3>

<p>Phil Forsyth, Executive Director: phil@phillyorchards.org, 215-724-1247</p>

<p>Robyn Mello, Education & Outreach Director: robyn@phillyorchards.org </p>

<p>
Philadelphia Orchard Project
4934 Larchwood Ave
Philadelphia, PA 19143
</p>

<%= render :partial => "shared/pop_in_news" -%>
