<%= random_snapshot -%>

<h3>Founding Manifesto</h3>

<p>Philadelphia will become the "next great city" by rebuilding itself as an American refuge from expensive oil and gas.
</p>

<p>Peak Oil, global warming, de-industrialization, the rise of China and Europe, the declining dollar, population growth and limits to U.S. military power are combining to end cheap fuel, cheap food, cheap homes, cheap consumer goods and cheap land. Everything will soon change. 
</p> 

<p>Most American cities have paved themselves into a corner. To survive, they bring food and fuel from great distances. They are like armies camped far from their sources of supply. All will transform, or fade.
</p>

<p>Philadelphia, in the midst of this storm, has an advantage no other American metropolis has-- 40,000 vacant lots and 700 empty factories. Between 1960 and 1990, hundreds of thousands of solid industrial jobs were stolen from Philadelphia workers. When these jobs shipped away to Asia and Latin America, many Philly neighborhoods were destroyed.
</p>

<p>Today these huge derelict areas allow us to create a future that works. They are a blank canvas for painting a city that will be stronger, more beautiful, more abundant and fair than any in our hemisphere. Big Money says fill these vacancies with cash machines: condos, casinos and headquarters that pay major taxes. Yet if we did so, Philly would become instead the "next failed city." Smart Money says something different. There are billions of dollars to be made by becomg the first American metropolis to grow most of its own food.
</p>

<p>Thousands of acres of urban orchards here will multiply their harvest value, by creating many categories of related jobs and thus reducing the costs of crimefighting, jail building and incarceration.
</p>

<p>Getting neighbors outdoors working together makes neighborhoods safer. Giving kids valuable farm skills builds career confidence and pride. Happier kids resist drugs. Trees provide cleaner air, better nutrition and better exercise, which means less public cost for healing sickness. Their shade reduces costs to heat and cool homes. Tourists will come here to enjoy the scene, and learn how we did it.
</p>


<p>Amid these orchards we can construct clusters of supremely energy-efficient earth-sheltered housing, needing one tenth the fossil fuels to warm and cool them. Ecological colonies (ecolonies) grow food on roofs, recycle rainwater and greywater. These neighborhoods would be linked by light rail and bikepaths. Some streets can be reclaimed for gardens and play. Property values would rise and neighborhood businesses bloom.
</p>

<p>All of the above notions are proven practical elsewhere. We need merely to combine them here, setting the nation's pace for greatness. Our challenge is to make these likely by proper zoning and tax incentives, buying and planting land.
</p>

<p>The Philly Orchard Project (POP) organizes the skills and capital to make this happen. You're welcome to join us at our potluck meetings, to donate land or money for land, to connect us to people with orchard skills, and to neighbors willing to help.</p>