Phil has led POP’s orchard design and development since our first plantings in the spring of 2007. As Executive Director, he works with POP's board and committees to design and plant orchards, coordinate volunteers, lead educational programs, write grants and organize fundraising activities. Phil has over fifteen years experience in urban farming, gardening, and landscaping.  He holds a BS in Horticulture and Landscape Design from Colorado State University and a Certificate in Permaculture Design & Teaching from the Central Rocky Mountain Permaculture Institute. Phil previously owned and operated an edible landscape design business in Philadelphia and also blogs on urban farming, edible landscaping, and food growing and has written articles for GRID, the Permaculture Activist, and Urban Farming magazine.



<%= headshot :phil -%>

<h3>PHIL FORSYTH, EXECUTIVE DIRECTOR
</h3>

<p>
  CONTACT: <a href="mailto:phil@phillyorchards.org">phil@phillyorchards.org</a>, 215-724-1247
</p>

<p>
Phil has led POP’s orchard design and development since our first plantings in
the spring of 2007. As Executive Director, he works with POP's board and
committees to design and plant orchards, coordinate volunteers, lead educational
programs, write grants and organize fundraising activities. Phil has over
fifteen years experience in urban farming, gardening, and landscaping.  He holds
a BS in Horticulture and Landscape Design from Colorado State University and a
Certificate in Permaculture Design & Teaching from the Central Rocky Mountain
Permaculture Institute. Phil previously owned and operated an edible landscape
design business in Philadelphia and also blogs on urban farming, edible
landscaping, and food growing and has written articles for GRID, the
Permaculture Activist, and Urban Farming magazine.
</p>


<%= headshot :robyn -%>

<h3>ROBYN MELLO, EDUCATION & OUTREACH DIRECTOR
</h3>

<p>
  CONTACT: <a href="mailto:robyn@phillyorchards.org">robyn@phillyorchards.org</a>
</p>

<p>
Robyn Mello, a long-time volunteer, has recently been hired to assist
the expansion of POP's educational programming and community outreach,
as well as develop a new gleaning program to harvest surplus fruit
throughout the area for preservation and consumption. Robyn has
extensive experience as a community activist, sociological researcher,
and edible landscape designer. She
founded <a href="http://phillyfoodforests.org/">Philly Food
    Forests</a> in 2010, a grassroots group that has assisted over a
dozen neighborhoods throughout the city in starting community gardens
in blighted, vacant lots. She also works as an Environmental Justice
researcher with the <a href="http://denin.udel.edu/">Delaware
    Environmental Institute</a>, volunteers in her
neighborhood's <a href="http://www.myneighborhoodproject.org/site/index.php?option=com_content&view=article&id=63&Itemid=4&lang=en">Norris
    Square Neighborhood Project</a> gardens, writes and performs
original music for <a href="http://theradicans.bandcamp.com/">The
    Radicans</a>, and maintains a few contracts with private edible
landscaping clients. Robyn graduated summa cum laude with an Honors BA
in Sociology, Political Science, & Africana Studies from the
University of Delaware in 2009.
</p>
