<h3>PHILADELPHIA ORCHARD PROJECT MUSIC FESTIVAL</h3>

<p>
  Saturday, July 16 · 2:00pm - 8:00pm
  <br/>
  <%= link_to 'Liberty Lands Park', 'http://www.facebook.com/pages/Liberty-Lands-Park/147985388556362' %>, 3rd St. between Poplar St & Wildey St, Philadelphia, PA
</p>

<p>
Join us for the 3rd Annual "POP" Music Fest, the most fun urban farm fundraiser of the year!  Enjoy a beautiful day in the park and great music from 5 local bands: Faux Slang, Eric Carbonara + Jesse Sparhawk, Zillions + Blood Like Mine, The Old Fashioneds, and Pile of Girls.  Fish n'Chips DJs including Kyle M will keep you entertained between sets. Beer from the Philadelphia Brewing Company and food from Honest Tom's Taco Truck, Dapper Dog, and Buttercream Cupcake.  POP plant sale featuring figs, raspberries, strawberries, and more! 
</p>

<p>
Purchase $10 tickets in advance until July 11, 2011 (see below), $15 the day of the festival
<br/>
RAINDATE: Sunday, 7/17 @ 2pm
</p>

<div class="product"><input value="Music Festival Ticket"
class="product-title" type="hidden"><select
class="product-attr-custom"><option selected="selected"
googlecart-set-product-price="15.00" value="Regular">Regular -
$15.00</option><option googlecart-set-product-price="50.00"
value="Individual Sponsor">Individual Sponsor - $50.00</option><option
googlecart-set-product-price="200.00" value="Corporate
Sponsor">Corporate Sponsor - $200.00</option></select><input
value="15.00" class="product-price" type="hidden"><div title="Add to
cart" role="button" tabindex="0"
class="googlecart-add-button"></div></div>

<br/>
<br/>
