<h3><%= link_to 'Upcoming Events', :controller => :volunteer, :action => :schedule -%></h3>

<% for event in Event.upcoming 99 %>

<p>
<%= "#{event.title}: " if event.title -%><%= event.place_name -%>       
<br/>
<%= event.when_starts.strftime "%A, %b %d" -%>
</p>
<% end %>