<%= random_snapshot -%>

<h3>Plants POP Plants</h3>

<p>A wide range of fruit and nut trees, berries, and other edible and useful perennials grow in Philadelphia. 
</p>

<p class="note">* What grows well in Philadelphia is not necessarily appropriate for growing in other regions. Before planting an orchard, check what is appropriate to grow in the particular climate of your region. You may wish to consider native plantings.
</p>

<p>Plants that POP commonly plants include: 
</p>

<h3>Trees – canopy</h3>
<ul>
<li>Apples</li>
<li>Cherries</li>
<li>Figs</li>
<li>Pawpaws (tolerate some shade)</li>
<li>Peaches </li>
<li>Pears, including Asian pears</li>
<li>Persimmons</li>
<li>Plums</li>
<li>Serviceberries (tolerate some shade)</li>
</ul>

	<h3>Shrubs – middle layers</h3>
	<ul>
		<li>Blueberries (tolerate some shade)</li>
		<li>Bush cherries</li>
		<li>Currants (tolerate some shade)</li>
		<li>Elderberries (tolerate some shade)</li>
		<li>Gooseberries (tolerate some shade)</li>
		<li>Goumis (tolerate some shade)</li>
		<li>Hazelnuts</li>
	</ul>
	<div class="note">* POP also plants Blackberries and Raspberries in areas away from other orchard plants. These cane berries do not mix well with trees, bushes, and perennials, making them difficult to maintain and harvest. 
	</div>

<h3>Vines (on trellises, fences, or other structures)</h3>
<ul>
<li>Grapes</li>
<li>Hardy kiwi </li>
</ul>

<h3>Herbs & perennials – understory</h3>
<ul>
<li>Chives</li>
<li>Comfrey </li>
<li>Lemon balm</li>
<li>Lovage </li>
<li>Rhubarb</li>
<li>Strawberries</li>
<li>White clover </li>
<li>Wild Indigo</li>
<li>Wintergreen</li>
<li>Yarrow</li>
</ul>

<p>… and many more! 
</p>